---
- name: install DHCP server
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - isc-dhcp-server

- name: enable isc-dhcp-server
  service:
    name: isc-dhcp-server
    enabled: yes
    state: started

- name: disable isc-dhcp-server6
  service:
    name: isc-dhcp-server6
    enabled: no
    state: stopped

- name: configure DHCP server
  template:
    src: "{{ item }}"
    dest: "/{{ item | regex_replace('\\.j2$', '') }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - etc/dhcp/dhcpd.conf.j2
  notify: restart isc-dhcp-server

- name: touch DHCP server log file
  file:
    path: /var/log/dhcpd.log
    state: touch
    owner: syslog
    group: adm
    mode: 0640
  changed_when: false

- name: configure DHCP server logging
  template:
    src: "{{ item }}"
    dest: "/{{ item | regex_replace('\\.j2$', '') }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - etc/rsyslog.d/10-dhcpd.conf.j2
    - etc/logrotate.d/dhcpd.j2
  notify: restart rsyslog
